/* media query  */
@media (max-width: 1014px) {
    .sci {
      position: relative;
      bottom: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 763px) {
    .home .home-text {
      margin-top: 0 !important;
    }
    .home .home-img .img-box{
        max-width: 350px;
    }
    .home .home-text{
        text-align: center;
    }
    .home .home-text h1{
        margin-bottom: 5px;
        font-size: 2.7rem;
    }
    .effect-1{
        bottom: 130px;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even){
        padding-left: 75px;
    }
    .about-section .timeline::before{
        left: 15px;
    }
    .timeline .timeline-item-inner .icon {
        left: -69px;
        top: 83px !important;
    }
    .about-section .timeline .timeline-item-inner::before {
        
        top: 103px;
        left: -29px;
    }
    .about-section .timeline .timeline-item-inner {
        padding: 22px;
        margin-bottom: 17px;
    }
} 

 @media (max-width:517px){
    .home .home-img .img-box{
        max-width: 260px;
    }
    .home .home-text h1{
        font-size: 2.2rem;
    }
    .effect-4{
    left: 11%;
    top: 16%;
    }
    .effect-1{
        bottom: 70px;
    }
    .effect-2 {
        left: 2%;
    }
    .about-text p{
        color: var(--text-black-600);
        font-size: 16px;
    }
    .about-text p span{
        color: var(--text-black-700);
        font-size: 19px;
    }
    p {
        margin-top: 0; 
        margin-bottom: 0;
    }
    .about-buttons a{
        font-size: 15px;
        margin-left: 10px;
    }
    .about-section .experience {
        padding-bottom: 0px;
    }
    .contact{
        padding: 0rem 0;
    }
    .effect-3 {
        height: 160px;
        width: 160px;
        border: 25px solid var(--skin-color);
        left: 50%;
        top: -49px;
    }

 }